# Tools are configured in pyproject.toml when possible, except
# for arguments specific to the pre-commit flow.

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-ast
    -   id: check-toml
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-builtin-literals

    -   id: end-of-file-fixer
    -   id: trailing-whitespace

# Uncomment line below after first demo
#    -   id: no-commit-to-branch

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.19.1'
    hooks:
    -   id: mypy
        additional_dependencies:
            - fastapi
            - pytest

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.14.14'
    hooks:
    -   id: ruff
        args: [--fix]
    -   id: ruff-format
