services:
  database:
    profiles: ["python", "php", "all"]
    image: "openml/test-database:v0.1.20260204"
    container_name: "openml-test-database"
    environment:
      MYSQL_ROOT_PASSWORD: ok
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      start_period: 30s
      start_interval: 1s
      timeout: 3s
      interval: 5s
      retries: 10

  docs:
    profiles: ["all"]
    build:
      context: .
      dockerfile: docker/docs/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - .:/docs

  elasticsearch:
    profiles: ["php", "all"]
    image: docker.elastic.co/elasticsearch/elasticsearch:6.8.23
    container_name: "openml-elasticsearch"
    platform: "linux/amd64"
    ports:
      - "9200:9200"  # also known as /es (nginx)
      - "9300:9300"
    env_file: docker/elasticsearch/.env
    healthcheck:
      test: curl 127.0.0.1:9200/_cluster/health | grep -e "green"
      start_period: 30s
      start_interval: 5s
      timeout: 3s
      interval: 10s
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1G
        reservations:
          cpus: '0.2'
          memory: 250M

  php-api:
    profiles: ["php", "all"]
    image: "openml/php-rest-api:v1.2.4"
    container_name: "openml-php-rest-api"
    env_file: docker/php/.env
    ports:
      - "8002:80"
    depends_on:
      elasticsearch:
        condition: service_healthy
      database:
        condition: service_started
    healthcheck:
      test: curl 127.0.0.1:80 | grep -e "openml"
      start_period: 30s
      start_interval: 5s
      timeout: 3s
      interval: 1m

  python-api:
    profiles: ["python", "all"]
    container_name: "openml-python-rest-api"
    build:
      context: .
      dockerfile: docker/python/Dockerfile
    ports:
      - "8001:8000"
    volumes:
      - .:/app
      - ./src/config.toml:/config/config.toml
    environment:
      OPENML_REST_API_CONFIG_DIRECTORY: "/config"
    depends_on:
      - database
