name: Tests
on:
  pull_request:
    paths:
      - 'src/**'
      - 'docker/**'
      - 'docker-compose.yaml'
      - '.github/workflows/tests.yml'

permissions:
  contents: write

jobs:
  compare-php:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6  # This repository
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - run: docker compose --profile "python" --profile "php" up -d
      - run: docker container ls && docker image ls
      - run: docker exec openml-python-rest-api python -m pytest -xv -m "php"
      - run: docker compose logs
        if: always()
  python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - run: docker compose --profile "python" up -d --wait database python-api
      - run: docker container ls
      - run: docker exec openml-python-rest-api python -m pytest -xv -m "not php"
