name: Tests
on:
  pull_request:
    paths:
      - 'src/**'
      - 'docker/**'
      - 'docker-compose.yaml'
      - '.github/workflows/tests.yml'

permissions:
  contents: write

jobs:
  compare-php:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x

      # https://github.com/docker/compose/issues/10596
      - run: docker compose --profile "python" --profile "php" up --detach --wait --remove-orphans || exit $(docker compose ps -q | xargs docker inspect -f '{{.State.ExitCode}}' | grep -v '^0' | wc -l)
      - run: docker container ls
      - run: docker exec openml-python-rest-api python -m pytest -xv -m "php"
  python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - run: docker compose --profile "python" up --detach --wait --remove-orphans || exit $(docker compose ps -q | xargs docker inspect -f '{{.State.ExitCode}}' | grep -v '^0' | wc -l)
      - run: docker container ls
      - run: docker exec openml-python-rest-api python -m pytest -xv -m "not php"
